body {
  font-family: sans-serif;
  text-align: center;
}

.clock {
  display: inline-block;
  background-color: #333;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  font-size: 30px;
}
